services:
  todo.mcp-todo:
    image: python:3.13-slim
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ./:/src
      - /home:/home
    environment:
      PYTHONPATH: ./src:/src/.venv/lib/python3.13/site-packages/
      PATH: /src/.venv/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    working_dir: /src
    user: ${USER_ID}:${GROUP_ID}

  front.mcp-todo:
    image: node:25
    command: npm run dev -- --host 0.0.0.0
    volumes:
      - ./front:/src
    working_dir: /src
    user: ${USER_ID}:${GROUP_ID}

  nginx.mcp-todo:
    image: s1s5/ee-nginx
    environment:
      NGINX_CONF: |
        / > http://front.mcp-todo:5173/
        /api/ > http://todo.mcp-todo:8000/api/
        /admin/ > http://todo.mcp-todo:8000/admin/
